.navbar-style{
    /* color:  #21a080; */
    /* background-color: #00FECF; */
    /* background-color: #00FECF; */
    /* background-color: rgb(65, 240, 147); */
    background-color: rgb(11, 188, 247);;
}

.icon-style{
    font-size: 20px;
    height: 20px ;
    width: 20px ;

}
