<nav class="navbar-style navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div style="display: flex; align-items: center;
            justify-content: center; " class="px-2">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" class="px-0 icon-style"></mat-icon>
            <a class="nav-link active px-0" aria-current="page" routerLink="/">Home</a>
          </div>
        </li>
        <li class="nav-item px-2">
          <div style="display: flex; align-items: center;justify-content: center; ">
            <img src="../../../assets/images/about us.png" alt="about us" class="icon-style px-0">
            <a class="nav-link active px-0" routerLink="/about">about us</a>
            </div>
        </li>
        @if (!this.showUrl) {
        <li class="nav-item px-2">
          <div style="display: flex; align-items: center;justify-content: center; ">
            <img src="../../../assets/images/loginlogo.png" alt="about us" class="icon-style px-0">
            <a class="nav-link active px-0" routerLink="/login">Login</a>
            </div>
        </li>}
        @if (this.showUrl)
        {<li class="nav-item px-2">
          <div style="display: flex; align-items: center;justify-content: center; ">
            <img src="../../../assets/images/register.png" alt="about us" class="icon-style px-0">
            <a class="nav-link active px-0" routerLink="/register">Register</a>
            </div>
        </li>}
        
      </ul>
    </div>
  </div>
</nav>