<title>{{title}}</title>
<div>
    <app-navbar></app-navbar>
    <div class="img-class">
        <div class="main-div">
            <div class="left-div">
                <img src="../../../assets/images/img-01.webp" alt="login img">
            </div>
            <div class="right-div">

                <div class="login-img">
                    <img src="../../../assets/images/login.png" alt="">
                </div>

                <form [formGroup]="userForm" (ngSubmit)="submitForm()">

                    <mat-form-field appearance="outline" style="margin-bottom: -1.05em ;">
                        <mat-label>Enter your username</mat-label>
                        <input type="text" matInput placeholder="Username" id="username" formControlName="username">
                    </mat-form-field>
                    <div *ngIf="userForm?.get('username')?.invalid && (userForm?.get('username')?.touched ||userForm?.get('username')?.dirty) "
                        class="text-danger m-0 p-0" style="font-weight: lighter; font-size: 15px;">
                        <span *ngIf="userForm.controls['username'].errors?.['required']"> Name is required.</span>
                        <span *ngIf="userForm.controls['username'].errors?.['minlength']">Minimum length is 4.</span>
                    </div>
                    <br>
                    <mat-form-field appearance="outline" style="margin-bottom: -1.25em ;">
                        <mat-label>Enter your password</mat-label>
                        <input type="password" matInput placeholder="Password" id="password" formControlName="password">
                    </mat-form-field>
                    <div *ngIf="userForm?.get('password')?.invalid && (userForm?.get('password')?.touched ||userForm?.get('password')?.dirty) "
                        class="text-danger m-0 p-0" style="font-weight: lighter; font-size: 15px;">
                        <span *ngIf="userForm.controls['password'].errors?.['required']"> Password is required.</span>
                    </div>

                    <div class="example-button-row mt-3">
                        <button mat-flat-button  class="m-1">login</button>
                        <button mat-flat-button type="reset" class="m-1">reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>