<title>{{title}}</title>
<div>
    <app-navbar></app-navbar>
    <div class="img-class">
        <div class="main-div">
            <div class="left-div">
                <img src="../../../assets/images/img-01.webp" alt="login img">
            </div>
            <div class="right-div">

                <div class="login-img">
                    <img  src="../../../assets/images/login.png" alt="">
                </div>

                <form action="">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter your username</mat-label>
                        <input type="text" matInput placeholder="Username">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Enter your password</mat-label>
                        <input type="password" matInput placeholder="Password">
                    </mat-form-field>

                    <div class="example-button-row">
                        <button mat-flat-button type="submit" class="m-1">login</button>
                        <button mat-flat-button type="reset" class="m-1">reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>