.img-class {
    height: 92.5vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    /* background-image: linear-gradient(144deg, #0eff7e ,#FCEE21); */
    /* background-color: red; */
}

.main-div {
    display: flex;
    background-color: white;
    text-align: center;
    align-self: center;
    align-content: center;
    height: 550px;
    width: 900px;
}

.left-div {
    text-align: center;
    align-self: center;
    align-content: center;
    background-color: white;
    height: 550px;
    width: 450px;
}

.right-div {
    background-color: #f2f2f2;
    border-radius: 18px;
    height: 550px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;

}

.right-div>p {
    width: 80%;

}

.login-img{
    position: relative;
display: flex;    
    
    height: 150px;
    width: 150px;
}

.login-img>img{
    
    height: 100%;
    width: 100%;
    position: absolute;
}

.example-button-row>button{
    background-color:  rgb(65, 240, 147);
    color: #1c1a9f;
}