.login-img {
    position: relative;
    height: 80px;
    width: 80px;
    align-self: center;
    margin-bottom: 10px;
}

.form-class {
    display: flex;
    flex-direction: column;
}


form>button {
    background-color: rgb(11, 188, 247);
    color: #1c1a9f;
}

.captcha-container {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 10px;
    /* Adjust spacing */
    align-items: flex-start;
}

.captcha-container>mat-form-field {
    width: 200%;
}

.captcha-box {
    background: #f3f3f3;
    padding: 4%;
    height: 100%;
    width: 100%;
    font-weight: bold;
    border: 2px solid #ccc;
    border-radius: 4px;
    gap: 10px;
}

.captcha-box>abbr {
    width: fit-content;
}

.example-button-row>button {
    background-color: rgb(11, 188, 247);
    color: #1c1a9f;
}


.auth-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    margin-top: 15px;
}


.auth-links a {
    text-decoration: underline;
    color: #007bff;
    font-size: 1rem;
}

.auth-links a:hover {
    text-decoration: none;
    color: #0056b3;
}

.refresh-image {
    height: 20px;
    width: 20px;
    margin-left: 11px;
}