<img src="../../../assets/images/forgot-password.png" class="login-img" alt="">
<form [formGroup]="userForm" class="form-class" (ngSubmit)="submitForm()">

    <mat-form-field appearance="outline" style="margin-bottom: -1.25em ;">
        <mat-label>Enter your username</mat-label>
        <input type="text" matInput placeholder="Username" id="username" formControlName="username" >
    </mat-form-field>
    <div *ngIf="userForm?.get('username')?.invalid && (userForm?.get('username')?.touched ||userForm?.get('username')?.dirty) "
        class="text-danger" style="font-weight: lighter; font-size: 15px;">
        <span *ngIf="userForm.controls['username'].errors?.['required']"> Name is required.</span>
        <span *ngIf="userForm.controls['username'].errors?.['minlength']">Minimum length is 4.</span>
    </div>

    <div class="captcha-container mb-0">
        <mat-form-field appearance="outline" style="margin-bottom: -1.25em ;">
            <mat-label>Enter the captcha</mat-label>
            <input type="text" matInput placeholder="captcha" id="captcha" formControlName="captcha" autocomplete="off" ondrop="return false" onpaste="return false" [disabled]="iseditable">
        </mat-form-field>
        <div class="captcha-box">
            <abbr>{{captchaInput}}</abbr>
            <img src="../../../assets/images/refresh.png" class="refresh-image" (click)="refreshCaptcha()">
        </div>
    </div>
    <div *ngIf="userForm?.get('captcha')?.invalid && (userForm?.get('captcha')?.touched || userForm?.get('captcha')?.dirty)"
        class="text-danger" style="font-weight: lighter; font-size: 15px;">
        <span *ngIf="userForm.controls['captcha'].errors?.['required']">Captcha is required.</span>
        <span *ngIf="userForm.controls['captcha'].errors?.['minlength']">Minimum length is 6.</span>
    </div>

  
        <mat-form-field    *ngIf="showOtpfield" appearance="outline" style="margin-bottom: -1.25em ;">
            <mat-label>Enter your otp</mat-label>
            <input type="text" matInput placeholder="otp" id="otp" formControlName="otp">
        </mat-form-field>
        <div *ngIf="userForm?.get('otp')?.invalid && (userForm?.get('otp')?.touched ||userForm?.get('otp')?.dirty) "
            class="text-danger" style="font-weight: lighter; font-size: 15px;">
            <span *ngIf="userForm.controls['username'].errors?.['required']"> Name is required.</span>
            <span *ngIf="userForm.controls['username'].errors?.['minlength']">Minimum length is 4.</span>
        </div>
    


    <div class="example-button-row ">
        <button *ngIf="!this.showOtpfield" mat-flat-button [disabled]="userForm.invalid" class="m-1">Verify Captcha</button>
        <button *ngIf="this.showOtpfield" mat-flat-button [disabled]="userForm.invalid" class="m-1">Verify OTP</button>
    </div>
    <lib-toastify-toast-container position="bottom-right" [preventDuplicates]="true"></lib-toastify-toast-container>

    <div class="auth-links">
        <a class="nav-link active" routerLink="/login">Login here</a>
        <a class="nav-link active" routerLink="/register">Register here</a>
    </div>

</form>